body {
  height: 100vh;
}

main {
  height: 60vh;
}

header {
  height: 45vh;
}

nav {
  top: 1.5rem;
  left: 1rem;
  right: 1rem;
  position: absolute;
  color: #e27d19;
}

.font-size-heading-bold {
  font-size: 1.5rem;
  font-weight: 500;
}


.font-size-heading {
  font-size: 1.5rem;
}

.font-size-base {
  font-size: 1.2rem;
}
.font-size-small {
  font-size: 1rem;
  color: #7b7b7b;
}

.product-canvas {
  position: absolute;
  z-index: 999;
  right: 0;
  bottom: 0;
  border-radius: 30px 30px 0 0;
  background-color: white;
  backdrop-filter: blur(10px);
}

.price i {
  color: #e27d19;
}
.size-item {
  background-color: white;
  border: 1px solid gray;
  padding: 5px 0;
  border-radius: 10px;
}

.size-item-picked {
  background-color: #fff5ee;
  border: #e27d19 solid;
  color: #e27d19;
}

.btn-buy {
  border: none;
  background-color: #e27d19;
  padding: 16px 70px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}
